@CHARSET "UTF-8";

.leftHeader {
	padding-left: 17px;
	padding-top: 22px;
	white-space: nowrap;
	vertical-align: middle;
}

.appName {
	color: black;
	font-size: 32px;
	font-weight: bold;
	white-space: nowrap;
	vertical-align: middle;
	height: 40px;
}

.appDescription {
	color: #AAA;
	font-size: 15px;
	white-space: nowrap;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
	vertical-align: middle;
	height: 30px;
}

.appVersion {
	color: gray;
	padding: 3px;
	font-style: italic;
}

.userPanel {
	padding: 5px;
	margin-top: 20px;
	margin-right: 20px;
}

.userPanelContent {
	margin-top: 10px;
	white-space: nowrap;
}

.languageSwitch {
	margin-bottom: 15px;
	margin-right: 15px;
	display: block;
}

.mainPanel {
	color: #666;
	font-size: 12px;
	padding: 10px;
}

.footerPanel {
	padding-right: 20px;
	padding-left: 20px;
}

.langBtn {
    padding: 0px;
    margin-right: 5px;

}
