@CHARSET "UTF-8";

.processListHeading {
	font-weight: bold;
	font-size: 20px;
	margin: 5px;
}

.processDefinitionsHeading {
	font-weight: bold;
	font-size: 20px;
	margin: 5px;
}

.processInstancesHeading {
	font-weight: bold;
	font-size: 20px;
	margin: 5px;
}
