@CHARSET "UTF-8";

.searchPanel {
	background-color: gray;
	padding: 2px;
}

.searchBox {
	margin: 0px;
	width: 350px;
	height: 17px;
	font-size: 12px;
}

.searchButton {
	margin: 1px;
}

.attrLabel {
	color: grey;
}

.treeButton {
	vertical-align: middle;
	font-size: 10px;
	height: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
}

.processWheelPanel {
	margin-left: 150px;
	margin-top: 80px;
}

.paginationProcessWheelPanel {
	margin-left: 10px;
	margin-top: 10px;
}

.searchTreeItem {
	white-space: pre-wrap;
}

.resultsPagesPanel {
	margin-top: 10px;
}

.noSearchResults {
	margin-left: 10px;
	margin-top: 10px;
	font-size: medium;
}