@CHARSET "UTF-8";

.headerPanel {
	
}

.headerTitlePanel {
	padding-left: 17px;
	padding-top: 22px;
}

.headerTitle {
	color: black;
	font-size: 32px;
	font-weight: bold;
	white-space: nowrap;
}

.headerSubtitle {
	color: #AAA;
	font-size: 12px;
	white-space: nowrap;
}

.languageSwitch {
	margin-bottom: 15px;
	margin-right: 15px;
	display: block;
}

.mainPanel {
	color: #666;
	font-size: 12px;
	padding: 10px;
}

.footerPanel {
	color: black;
	font-size: 11px;
	padding: 2px;
	border-top: 4px solid #EEE;
}